@import "tailwindcss";

.show-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding-right: 2rem; 
}

.css-13cymwt-control {
  border-width: 0px !important;
  outline: none !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

.css-13cymwt-control:hover {
  border-color: transparent !important;
}

.css-t3ipsp-control:hover {
  border-color: transparent !important;
}

.css-t3ipsp-control  {
  border-width: 0px !important;
  outline: none !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.css-b62m3t-container {
  border: none !important;
}